<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>tableIdentifier</key>
		<string>expresotitle</string>
	</dict>
	<dict>
		<key>tableIdentifier</key>
		<string>valletitle</string>
	</dict>
	<dict>
		<key>tableIdentifier</key>
		<string>valle1</string>
		<key>servicio</key>
		<string>Expreso Tec</string>
		<key>ruta</key>
		<string>Valle 1</string>
		<key>latitudInicial</key>
		<real>25.652751</real>
		<key>longitudInicial</key>
		<real>-100.290467</real>
		<key>dispositivo</key>
		<string></string>
		<key>pings</key>
		<array>
			<dict>
				<key>titulo</key>
				<string>Tecnológico de Monterrey</string>
				<key>latitud</key>
				<real>25.652751</real>
				<key>longitud</key>
				<real>-100.290467</real>
			</dict>
			<dict>
				<key>titulo</key>
				<string>Parque</string>
				<key>latitud</key>
				<real>25.65286</real>
				<key>longitud</key>
				<real>-100.389715</real>
			</dict>
			<dict>
				<key>titulo</key>
				<string>Río Sena</string>
				<key>latitud</key>
				<real>25.655436</real>
				<key>longitud</key>
				<real>-100.385005</real>
			</dict>
			<dict>
				<key>titulo</key>
				<string>Río Mississipi</string>
				<key>latitud</key>
				<real>25.662823</real>
				<key>longitud</key>
				<real>-100.381955</real>
			</dict>
			<dict>
				<key>titulo</key>
				<string>Río Amazonas (Farmacias del Ahorro)</string>
				<key>latitud</key>
				<real>25.66467</real>
				<key>longitud</key>
				<real>-100.381032</real>
			</dict>
			<dict>
				<key>titulo</key>
				<string>Río Amazonas (Farmacia Benavides)</string>
				<key>latitud</key>
				<real>25.657619</real>
				<key>longitud</key>
				<real>-100.3567</real>
			</dict>
			<dict>
				<key>titulo</key>
				<string>Av. Vasconcelos (Sierra Madre)</string>
				<key>latitud</key>
				<real>25.652816</real>
				<key>longitud</key>
				<real>-100.356307</real>
			</dict>
			<dict>
				<key>titulo</key>
				<string>Pantepec y Tamuin</string>
				<key>latitud</key>
				<real>25.65831</real>
				<key>longitud</key>
				<real>-100.345266</real>
			</dict>
			<dict>
				<key>titulo</key>
				<string>EGAP / EGADE</string>
				<key>latitud</key>
				<real>25.643717</real>
				<key>longitud</key>
				<real>-100.32613</real>
			</dict>
		</array>
	</dict>
	<dict>
		<key>tableIdentifier</key>
		<string>valle2</string>
		<key>servicio</key>
		<string>Expreso Tec</string>
		<key>ruta</key>
		<string>Valle 2</string>
		<key>latitudInicial</key>
		<real>25.652751</real>
		<key>longitudInicial</key>
		<real>-100.290467</real>
		<key>dispositivo</key>
		<string></string>
		<key>pings</key>
		<array>
			<dict>
				<key>titulo</key>
				<string>Tecnológico de Monterrey</string>
				<key>latitud</key>
				<real>25.652751</real>
				<key>longitud</key>
				<real>-100.290467</real>
			</dict>
			<dict>
				<key>titulo</key>
				<string>Av. Lomas del Valle</string>
				<key>latitud</key>
				<real>25.65084</real>
				<key>longitud</key>
				<real>-100.378424</real>
			</dict>
			<dict>
				<key>titulo</key>
				<string>Sierra Azul</string>
				<key>latitud</key>
				<real>25.638183</real>
				<key>longitud</key>
				<real>-100.380206</real>
			</dict>
			<dict>
				<key>titulo</key>
				<string>El Ángel (San Ángel)</string>
				<key>latitud</key>
				<real>25.635162</real>
				<key>longitud</key>
				<real>-100.370015</real>
			</dict>
			<dict>
				<key>titulo</key>
				<string>Planetario Alfa</string>
				<key>latitud</key>
				<real>25.635151</real>
				<key>longitud</key>
				<real>-100.358632</real>
			</dict>
			<dict>
				<key>titulo</key>
				<string>Alejandría</string>
				<key>latitud</key>
				<real>25.630531</real>
				<key>longitud</key>
				<real>-100.33551</real>
			</dict>
			<dict>
				<key>titulo</key>
				<string>Av. Lampazos</string>
				<key>latitud</key>
				<real>25.645012</real>
				<key>longitud</key>
				<real>-100.338939</real>
			</dict>
			<dict>
				<key>titulo</key>
				<string>Estacionamiento Plaza Fiesta San Agustìn</string>
				<key>latitud</key>
				<real>25.652095</real>
				<key>longitud</key>
				<real>-100.338885</real>
			</dict>
		</array>
	</dict>
	<dict>
		<key>tableIdentifier</key>
		<string>valle3</string>
		<key>servicio</key>
		<string>Expreso Tec</string>
		<key>ruta</key>
		<string>Valle 3</string>
		<key>latitudInicial</key>
		<real>25.652751</real>
		<key>longitudInicial</key>
		<real>-100.290467</real>
		<key>dispositivo</key>
		<string></string>
		<key>pings</key>
		<array>
			<dict>
				<key>titulo</key>
				<string>Tecnológico de Monterrey</string>
				<key>latitud</key>
				<real>25.652751</real>
				<key>longitud</key>
				<real>-100.290467</real>
			</dict>
			<dict>
				<key>titulo</key>
				<string>Loma Larga</string>
				<key>latitud</key>
				<real>25.666344</real>
				<key>longitud</key>
				<real>-100.338827</real>
			</dict>
			<dict>
				<key>titulo</key>
				<string>EMIS (Farmacia Benavides)</string>
				<key>latitud</key>
				<real>25.669462</real>
				<key>longitud</key>
				<real>-100.350245</real>
			</dict>
			<dict>
				<key>titulo</key>
				<string>Del Carmen (Calle España)</string>
				<key>latitud</key>
				<real>25.67236</real>
				<key>longitud</key>
				<real>-100.359792</real>
			</dict>
			<dict>
				<key>titulo</key>
				<string>Río Guadalquivir</string>
				<key>latitud</key>
				<real>25.661855</real>
				<key>longitud</key>
				<real>-100.368388</real>
			</dict>
			<dict>
				<key>titulo</key>
				<string>Río Serna</string>
				<key>latitud</key>
				<real>25.652485</real>
				<key>longitud</key>
				<real>-100.371233</real>
			</dict>
			<dict>
				<key>titulo</key>
				<string>Bosques del Canadá</string>
				<key>latitud</key>
				<real>25.650996</real>
				<key>longitud</key>
				<real>-100.374012</real>
			</dict>
			<dict>
				<key>titulo</key>
				<string>Sierra Nevada y María de los Ángeles</string>
				<key>latitud</key>
				<real>25.644111</real>
				<key>longitud</key>
				<real>-100.368933</real>
			</dict>
			<dict>
				<key>titulo</key>
				<string>Matamoros</string>
				<key>latitud</key>
				<real>25.653386</real>
				<key>longitud</key>
				<real>-100.399524</real>
			</dict>
			<dict>
				<key>titulo</key>
				<string>Altamirano</string>
				<key>latitud</key>
				<real>25.656261</real>
				<key>longitud</key>
				<real>-100.408187</real>
			</dict>
		</array>
	</dict>
	<dict>
		<key>tableIdentifier</key>
		<string>galeriastitle</string>
	</dict>
	<dict>
		<key>tableIdentifier</key>
		<string>sanjeronimo</string>
		<key>servicio</key>
		<string>Expreso Tec</string>
		<key>ruta</key>
		<string>San Jerónimo</string>
		<key>latitudInicial</key>
		<real>25.652751</real>
		<key>longitudInicial</key>
		<real>-100.290467</real>
		<key>dispositivo</key>
		<string></string>
		<key>pings</key>
		<array>
			<dict>
				<key>titulo</key>
				<string>Tecnológico de Monterrey</string>
				<key>latitud</key>
				<real>25.652751</real>
				<key>longitud</key>
				<real>-100.290467</real>
			</dict>
			<dict>
				<key>titulo</key>
				<string>CUM (Av. Gonzalitos)</string>
				<key>latitud</key>
				<real>25.677488</real>
				<key>longitud</key>
				<real>-100.352503</real>
			</dict>
			<dict>
				<key>titulo</key>
				<string>Estacionamiento Galerías Monterrey</string>
				<key>latitud</key>
				<real>25.681689</real>
				<key>longitud</key>
				<real>-100.356128</real>
			</dict>
			<dict>
				<key>titulo</key>
				<string>Alan Poe (OXXO)</string>
				<key>latitud</key>
				<real>25.685798</real>
				<key>longitud</key>
				<real>-100.36479</real>
			</dict>
			<dict>
				<key>titulo</key>
				<string>Av. San Jemo (Seven)</string>
				<key>latitud</key>
				<real>25.681354</real>
				<key>longitud</key>
				<real>-100.370408</real>
			</dict>
			<dict>
				<key>titulo</key>
				<string>Antonio Caso</string>
				<key>latitud</key>
				<real>25.686788</real>
				<key>longitud</key>
				<real>-100.369883</real>
			</dict>
			<dict>
				<key>titulo</key>
				<string>Jean Racine</string>
				<key>latitud</key>
				<real>25.689337</real>
				<key>longitud</key>
				<real>-100.372356</real>
			</dict>
			<dict>
				<key>titulo</key>
				<string>Alfonso Junco</string>
				<key>latitud</key>
				<real>25.695408</real>
				<key>longitud</key>
				<real>-100.372073</real>
			</dict>
		</array>
	</dict>
	<dict>
		<key>tableIdentifier</key>
		<string>cumbres</string>
		<key>servicio</key>
		<string>Expreso Tec</string>
		<key>ruta</key>
		<string>Cumbres</string>
		<key>latitudInicial</key>
		<real>25.652751</real>
		<key>longitudInicial</key>
		<real>-100.290467</real>
		<key>dispositivo</key>
		<string></string>
		<key>pings</key>
		<array>
			<dict>
				<key>titulo</key>
				<string>Tecnológico de Monterrey</string>
				<key>latitud</key>
				<real>25.652751</real>
				<key>longitud</key>
				<real>-100.290467</real>
			</dict>
			<dict>
				<key>titulo</key>
				<string>Cínica Ricardo Madla</string>
				<key>latitud</key>
				<real>25.694102</real>
				<key>longitud</key>
				<real>-100.354688</real>
			</dict>
			<dict>
				<key>titulo</key>
				<string>Parque Av. Enrique C. Livas y 7a. Avenida</string>
				<key>latitud</key>
				<real>25.695475</real>
				<key>longitud</key>
				<real>-100.357327</real>
			</dict>
			<dict>
				<key>titulo</key>
				<string>Vip´s</string>
				<key>latitud</key>
				<real>25.699742</real>
				<key>longitud</key>
				<real>-100.36304</real>
			</dict>
			<dict>
				<key>titulo</key>
				<string>Paseo de la Cima (Starbucks)</string>
				<key>latitud</key>
				<real>25.712018</real>
				<key>longitud</key>
				<real>-100.377657</real>
			</dict>
			<dict>
				<key>titulo</key>
				<string>Eric el Rojo (Super 7)</string>
				<key>latitud</key>
				<real>25.715994</real>
				<key>longitud</key>
				<real>-100.383025</real>
			</dict>
			<dict>
				<key>titulo</key>
				<string>Paseo de los Navegantes / Rotonda de las Casas</string>
				<key>latitud</key>
				<real>25.720222</real>
				<key>longitud</key>
				<real>-100.388595</real>
			</dict>
			<dict>
				<key>titulo</key>
				<string>Diamant (Super 7)</string>
				<key>latitud</key>
				<real>25.724359</real>
				<key>longitud</key>
				<real>-100.394391</real>
			</dict>
			<dict>
				<key>titulo</key>
				<string>HEB</string>
				<key>latitud</key>
				<real>25.731323</real>
				<key>longitud</key>
				<real>-100.397416</real>
			</dict>
			<dict>
				<key>titulo</key>
				<string>Cumbres Elite</string>
				<key>latitud</key>
				<real>25.741611</real>
				<key>longitud</key>
				<real>-100.40604</real>
			</dict>
			<dict>
				<key>titulo</key>
				<string>Cambridge</string>
				<key>latitud</key>
				<real>25.746051</real>
				<key>longitud</key>
				<real>-100.413082</real>
			</dict>
		</array>
	</dict>
	<dict>
		<key>tableIdentifier</key>
		<string>lincoln</string>
		<key>servicio</key>
		<string>Expreso Tec</string>
		<key>ruta</key>
		<string>Lincoln</string>
		<key>latitudInicial</key>
		<real>25.652751</real>
		<key>longitudInicial</key>
		<real>-100.290467</real>
		<key>dispositivo</key>
		<string></string>
		<key>pings</key>
		<array>
			<dict>
				<key>titulo</key>
				<string>Tecnológico de Monterrey</string>
				<key>latitud</key>
				<real>25.652751</real>
				<key>longitud</key>
				<real>-100.290467</real>
			</dict>
			<dict>
				<key>titulo</key>
				<string>V. Carranza (Flores y Peluches Sandra)</string>
				<key>latitud</key>
				<real>25.675291</real>
				<key>longitud</key>
				<real>-100.332613</real>
			</dict>
			<dict>
				<key>titulo</key>
				<string>Virgilio Garza (Seven)</string>
				<key>latitud</key>
				<real>25.680367</real>
				<key>longitud</key>
				<real>-100.343353</real>
			</dict>
			<dict>
				<key>titulo</key>
				<string>Pastelería Lety</string>
				<key>latitud</key>
				<real>25.698922</real>
				<key>longitud</key>
				<real>-100.343372</real>
			</dict>
			<dict>
				<key>titulo</key>
				<string>Parabús Rotonda Simón Bolivar y Lincoln</string>
				<key>latitud</key>
				<real>25.708971</real>
				<key>longitud</key>
				<real>-100.342837</real>
			</dict>
			<dict>
				<key>titulo</key>
				<string>Calle Nueva Inglaterra (OXXO)</string>
				<key>latitud</key>
				<real>25.717573</real>
				<key>longitud</key>
				<real>-100.355396</real>
			</dict>
			<dict>
				<key>titulo</key>
				<string>Parabús Puente Peatonal HEB</string>
				<key>latitud</key>
				<real>25.728282</real>
				<key>longitud</key>
				<real>-100.369028</real>
			</dict>
			<dict>
				<key>titulo</key>
				<string>Parabús (Secundaria #8)</string>
				<key>latitud</key>
				<real>25.735861</real>
				<key>longitud</key>
				<real>-100.376312</real>
			</dict>
			<dict>
				<key>titulo</key>
				<string>Tienda/Farmacias del Ahorro (Pedro Infante)</string>
				<key>latitud</key>
				<real>25.745747</real>
				<key>longitud</key>
				<real>-100.388264</real>
			</dict>
		</array>
	</dict>
	<dict>
		<key>tableIdentifier</key>
		<string>sannicolastitle</string>
	</dict>
	<dict>
		<key>tableIdentifier</key>
		<string>sannicolas</string>
		<key>servicio</key>
		<string>Expreso Tec</string>
		<key>ruta</key>
		<string>San Nicolás</string>
		<key>latitudInicial</key>
		<real>25.652751</real>
		<key>longitudInicial</key>
		<real>-100.290467</real>
		<key>dispositivo</key>
		<string></string>
		<key>pings</key>
		<array>
			<dict>
				<key>titulo</key>
				<string>Tecnológico de Monterrey</string>
				<key>latitud</key>
				<real>25.652751</real>
				<key>longitud</key>
				<real>-100.290467</real>
			</dict>
			<dict>
				<key>titulo</key>
				<string>La Pérgola</string>
				<key>latitud</key>
				<real>25.736772</real>
				<key>longitud</key>
				<real>-100.310461</real>
			</dict>
			<dict>
				<key>titulo</key>
				<string>Estacionamiento Sears</string>
				<key>latitud</key>
				<real>25.740952</real>
				<key>longitud</key>
				<real>-100.313157</real>
			</dict>
			<dict>
				<key>titulo</key>
				<string>15 de Agosto y 18 de Diciembre</string>
				<key>latitud</key>
				<real>25.742557</real>
				<key>longitud</key>
				<real>-100.306457</real>
			</dict>
			<dict>
				<key>titulo</key>
				<string>Saltillo</string>
				<key>latitud</key>
				<real>25.741962</real>
				<key>longitud</key>
				<real>-100.295117</real>
			</dict>
			<dict>
				<key>titulo</key>
				<string>Av. las Puentes (Locales Comerciales, frente a la Iglesia de San Jorge)</string>
				<key>latitud</key>
				<real>25.630531</real>
				<key>longitud</key>
				<real>-100.33551</real>
			</dict>
			<dict>
				<key>titulo</key>
				<string>Av. Santo Domingo (Préstamo Express)</string>
				<key>latitud</key>
				<real>25.754561</real>
				<key>longitud</key>
				<real>-100.277366</real>
			</dict>
			<dict>
				<key>titulo</key>
				<string>Parabús (Seven / Gasolinera)</string>
				<key>latitud</key>
				<real>25.76915</real>
				<key>longitud</key>
				<real>-100.272585</real>
			</dict>
		</array>
	</dict>
	<dict>
		<key>tableIdentifier</key>
		<string>guadalupetitle</string>
	</dict>
	<dict>
		<key>tableIdentifier</key>
		<string>contrylindavista</string>
		<key>servicio</key>
		<string>Expreso Tec</string>
		<key>ruta</key>
		<string>Contry Linda Vista</string>
		<key>latitudInicial</key>
		<real>25.652751</real>
		<key>longitudInicial</key>
		<real>-100.290467</real>
		<key>dispositivo</key>
		<string></string>
		<key>pings</key>
		<array>
			<dict>
				<key>titulo</key>
				<string>Tecnológico de Monterrey</string>
				<key>latitud</key>
				<real>25.652751</real>
				<key>longitud</key>
				<real>-100.290467</real>
			</dict>
			<dict>
				<key>titulo</key>
				<string>Vista Regia (Rotonda)</string>
				<key>latitud</key>
				<real>25.693104</real>
				<key>longitud</key>
				<real>-100.254859</real>
			</dict>
			<dict>
				<key>titulo</key>
				<string>Nemesio García Naranjo</string>
				<key>latitud</key>
				<real>25.70298</real>
				<key>longitud</key>
				<real>-100.254167</real>
			</dict>
			<dict>
				<key>titulo</key>
				<string>Tauro (OXXO)</string>
				<key>latitud</key>
				<real>25.70301</real>
				<key>longitud</key>
				<real>-100.231884</real>
			</dict>
			<dict>
				<key>titulo</key>
				<string>Olimpia (Seven)</string>
				<key>latitud</key>
				<real>25.706341</real>
				<key>longitud</key>
				<real>-100.22438</real>
			</dict>
			<dict>
				<key>titulo</key>
				<string>Parabús (Bancomer La Fe)</string>
				<key>latitud</key>
				<real>25.722224</real>
				<key>longitud</key>
				<real>-100.215668</real>
			</dict>
		</array>
	</dict>
	<dict>
		<key>tableIdentifier</key>
		<string>circuitotectitle</string>
	</dict>
	<dict>
		<key>tableIdentifier</key>
		<string>diurnotitle</string>
	</dict>
	<dict>
		<key>tableIdentifier</key>
		<string>garzasada</string>
		<key>servicio</key>
		<string>Expreso Tec</string>
		<key>ruta</key>
		<string>Garza Sada</string>
		<key>latitudInicial</key>
		<real>25.652482</real>
		<key>longitudInicial</key>
		<real>-100.290943</real>
		<key>dispositivo</key>
		<string></string>
		<key>pings</key>
		<array>
			<dict>
				<key>titulo</key>
				<string>CIAP/Lago de los Patos</string>
				<key>latitud</key>
				<real>25.652751</real>
				<key>longitud</key>
				<real>-100.290467</real>
			</dict>
			<dict>
				<key>titulo</key>
				<string>El Borrego</string>
				<key>latitud</key>
				<real>25.64821</real>
				<key>longitud</key>
				<real>-100.290014</real>
			</dict>
			<dict>
				<key>titulo</key>
				<string>Hamburgo / Kentucky</string>
				<key>latitud</key>
				<real>25.644346</real>
				<key>longitud</key>
				<real>-100.287764</real>
			</dict>
			<dict>
				<key>titulo</key>
				<string>Plaza La Silla</string>
				<key>latitud</key>
				<real>25.636481</real>
				<key>longitud</key>
				<real>-100.282781</real>
			</dict>
			<dict>
				<key>titulo</key>
				<string>Av. Constelaciones / Banorte</string>
				<key>latitud</key>
				<real>25.633661</real>
				<key>longitud</key>
				<real>-100.280957</real>
			</dict>
			<dict>
				<key>titulo</key>
				<string>Libra / 7 Eleven</string>
				<key>latitud</key>
				<real>25.633661</real>
				<key>longitud</key>
				<real>-100.280957</real>
			</dict>
			<dict>
				<key>titulo</key>
				<string>Piscis</string>
				<key>latitud</key>
				<real>25.629769</real>
				<key>longitud</key>
				<real>-100.27853</real>
			</dict>
			<dict>
				<key>titulo</key>
				<string>A un lado Paso Desnivel</string>
				<key>latitud</key>
				<real>25.626442</real>
				<key>longitud</key>
				<real>-100.277017</real>
			</dict>
			<dict>
				<key>titulo</key>
				<string>Puente Peatonal</string>
				<key>latitud</key>
				<real>25.63173</real>
				<key>longitud</key>
				<real>-100.28029</real>
			</dict>
			<dict>
				<key>titulo</key>
				<string>Chili´s</string>
				<key>latitud</key>
				<real>25.635696</real>
				<key>longitud</key>
				<real>-100.282699</real>
			</dict>
			<dict>
				<key>titulo</key>
				<string>Puente Peatonal / Domino´s Pizza</string>
				<key>latitud</key>
				<real>25.641093</real>
				<key>longitud</key>
				<real>-100.286154</real>
			</dict>
			<dict>
				<key>titulo</key>
				<string>Luis Elizondo</string>
				<key>latitud</key>
				<real>25.647757</real>
				<key>longitud</key>
				<real>-100.29037</real>
			</dict>
			<dict>
				<key>titulo</key>
				<string>Josefinos</string>
				<key>latitud</key>
				<real>25.651754</real>
				<key>longitud</key>
				<real>-100.292899</real>
			</dict>
			<dict>
				<key>titulo</key>
				<string>2 de Abril / Transpais</string>
				<key>latitud</key>
				<real>25.656191</real>
				<key>longitud</key>
				<real>-100.295616</real>
			</dict>
			<dict>
				<key>titulo</key>
				<string>Pedro Martinez / Multimedios</string>
				<key>latitud</key>
				<real>25.662456</real>
				<key>longitud</key>
				<real>-100.297501</real>
			</dict>
		</array>
	</dict>
	<dict>
		<key>tableIdentifier</key>
		<string>nocturnotitle</string>
	</dict>
	<dict>
		<key>tableIdentifier</key>
		<string>rutaA</string>
		<key>servicio</key>
		<string>Circuito Tec</string>
		<key>ruta</key>
		<string>Ruta A</string>
		<key>latitudInicial</key>
		<real>25.652751</real>
		<key>longitudInicial</key>
		<real>-100.290467</real>
		<key>dispositivo</key>
		<string></string>
		<key>pings</key>
		<array>
			<dict>
				<key>titulo</key>
				<string>CIAP/Lago de los Patos</string>
				<key>latitud</key>
				<real>25.652751</real>
				<key>longitud</key>
				<real>-100.290467</real>
			</dict>
		</array>
	</dict>
	<dict>
		<key>tableIdentifier</key>
		<string>rutaB</string>
		<key>servicio</key>
		<string>Circuito Tec</string>
		<key>ruta</key>
		<string>Ruta B</string>
		<key>latitudInicial</key>
		<real>25.652751</real>
		<key>longitudInicial</key>
		<real>-100.290467</real>
		<key>dispositivo</key>
		<string></string>
		<key>pings</key>
		<array>
			<dict>
				<key>titulo</key>
				<string>CIAP/Lago de los Patos</string>
				<key>latitud</key>
				<real>25.652751</real>
				<key>longitud</key>
				<real>-100.290467</real>
			</dict>
		</array>
	</dict>
	<dict>
		<key>tableIdentifier</key>
		<string>rutaC</string>
		<key>servicio</key>
		<string>Circuito Tec</string>
		<key>ruta</key>
		<string>Ruta C</string>
		<key>latitudInicial</key>
		<real>25.652751</real>
		<key>longitudInicial</key>
		<real>-100.290467</real>
		<key>dispositivo</key>
		<string></string>
		<key>pings</key>
		<array>
			<dict>
				<key>titulo</key>
				<string>CIAP/Lago de los Patos</string>
				<key>latitud</key>
				<real>25.652751</real>
				<key>longitud</key>
				<real>-100.290467</real>
			</dict>
		</array>
	</dict>
</array>
</plist>
